<div class="container center">
  <div class="link">
    <h2>Messaging App</h2>
    <br/>
    <p>This app has been created only for demonstration purposes, be aware that everything you write in any channel will be visible (only on this app) by every other user.</p>
    <p>Please sign in with your Facebook account to enter the app.</p>
    <div class="loginBtn loginBtn--facebook">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
        <% end -%>
      <% end -%>
    </div>
  </div>
</div>
